.account-page {
    .logo-only {
        position: absolute;
        top: 0;
        left: 0;
    }
    .account-content {
        &.content-row {
            padding-top: 0;
            padding-bottom: 0;
            margin: 0;
            border: none;
            align-items: center;
            justify-content: center;
            height: 100vh;
            .title-wrap {
                border: none;
                padding: 0;
                .title-content {
                    line-height: 100%;
                    margin-bottom: 60px;
                } 
            }
        }
    }
    .account-image {
        &.content-row {
            padding: 0;
            margin: 0;
            border: none;
            .image-inner {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                margin: 0;
                -ms-flex: 0 0 42.3%;
                flex: 0 0 42.3%;
                max-width: 42.3%;
            }
        }
    }
}