footer
    .container-fluid
        .footer.d-flex.justify-content-between
            .footer-left 
                h6 
                    |Get our 
                    br
                    |newletters
                .subscribe 
                    form(action="") 
                        .form-group 
                            input(type="text" placeholder="subscribe to get our mails").form-control
                            button.ic-arrow 
                                img(src="assets/images/arrow-white.svg", alt="")
            .footer-right.GridCustom__col-3
                .d-flex.sitemap
                    .GridCustom__col-1-2.footer-link
                        ul 
                            li 
                                a(href="#") home
                            li 
                                a(href="#") about us
                            li 
                                a(href="#") guest post
                            li 
                                a(href="#") publishing
                    .GridCustom__col-1-2.footer-link
                        ul 
                            li 
                                a(href="#") terms & conditions
                            li 
                                a(href="#") privacy policy
                            li 
                                a(href="#") contact
                    .GridCustom__col-1-2.footer-link
                        ul 
                            li 
                                .footer-group
                                    a(href="#") youtube
                                    img(src="assets/images/arrow-white.svg", alt="")
                            li 
                                .footer-group
                                    a(href="#") pinterest
                                    img(src="assets/images/arrow-white.svg", alt="")
                            li 
                                .footer-group
                                    a(href="#") facebook
                                    img(src="assets/images/arrow-white.svg", alt="")
                            li 
                                .footer-group
                                    a(href="#") vimeo
                                    img(src="assets/images/arrow-white.svg", alt="")
                            li 
                                .footer-group
                                    a(href="#") twitter
                                    img(src="assets/images/arrow-white.svg", alt="")
    .container-fluid
        .copyright 
            p Copyright © 2022 Powered by HOMEiA, LLC
