.container-fluid.GridCustom__wrap 
    .row 
        .GridCustom__col-1-line
        .GridCustom__col-1-line
        .GridCustom__col-1-line
        .GridCustom__col-1-line
        .GridCustom__col-1-line
        .GridCustom__col-1-line
        .GridCustom__col-1-line