header 
    .container-fluid 
        .header-left 
            .brand-logo
                a(href="#")  
                    img(src="assets/images/homeia.svg", alt="")
            .header-search 
                form(action="") 
                    .form-group
                        input(type="text" placeholder="Search for articles").form-control
                    button.ic-search 
                        img(src="assets/images/ic-search.svg", alt="")
        .header-right 
            .navigation 
                ul 
                    li 
                        a(href="#").active articles
                    li 
                        a(href="#") publishing
                    li 
                        a(href="#") marketing
                    li 
                        a(href="#") contact
            a(href="signin.html").btn-common.outline login