meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

link(rel="stylesheet", type="text/css", href="assets/libs/bootstrap/bootstrap.min.css")
link(rel="stylesheet", type="text/css", href="assets/libs/slick-master/slick/slick.css")
link(rel="stylesheet", type="text/css", href="assets/libs/slick-master/slick/slick-theme.css")
link(rel="stylesheet", type="text/css", href="assets/libs/aos/aos.css")
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
link(rel="stylesheet", type="text/css", href='assets/css/style.css')