.hero-banner {
    background-color: #FFFFFF;
    padding-top: 78px;
    padding-bottom: 558px;
    position: relative;
    border-bottom: 1px solid #c4c4c44d;
    z-index: 1;
    .banner__title {
        max-width: 1870px;
        z-index: 2;
        position: relative;
    }
    .banner__description {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        width: 1083px;
        height: 744px;
        border: 1px solid #c4c4c44d;
        border-bottom: none;
        border-top-left-radius: 240px;
        padding-top: 306px;
        padding-left: 271px;
        .banner__description-inner {
            max-width: 517px;
            p {
                font-size: 14px;
                text-transform: uppercase;
                line-height: 150%;
                color: $dark-blue;
                margin-bottom: 100px;
                font-weight: normal;
            }
            a {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                color: $dark-blue;
                @include transition(0.2s);
                .ic-arrow-right {
                    margin-left: 8px;
                    position: relative;
                    top: -1px;
                    @include transition(0.3s);
                }
                &:hover {
                    text-decoration: none;
                    .ic-arrow-right {
                        margin-left: 16px;
                    }
                }
            }
        }
    }
    .call-to-action {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: $dark-blue;
        @include transform(rotate(270deg));
        position: absolute;
        left: 0;
        bottom: 180px;
        h6,
        .ic-arrow-right {
            display: inline-block;
        }
        .ic-arrow-right {
            margin-right: 8px;
            position: relative;
            top: -1px;
            @include transform(rotate(180deg));
        }
    }
}

.subtab {
    ul {
        list-style: none;
        padding-left: 0;
        margin: 0 -12px;
        justify-content: space-between;
        flex-wrap: nowrap;
        li {
            padding: 32px 0;
            a {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                color: $dark-blue;
                line-height: 120%;
                @include transition(0.3s);
                border-left: 2px solid transparent;
                &:hover,
                &.active {
                    text-decoration: none;
                    padding-left: 8px;
                    border-left: 2px solid $yellow;
                }
                sup {
                    margin-left: 4px;
                    font-size: 10px;
                    color: $dark-blue;
                    opacity: 0.5;
                    font-weight: normal;
                }
            }
        }
    }
}

