// Global variables
$worksan: 'Work Sans';
$dark-blue: #142642;
$dark-blue-40: #A1A8B3; 
$dark-blue-20: #d0d4d9;
$yellow: #EDB72C;
// Mixins 
@mixin transition($param) {
    -ms-transition: $param;
    -o-transition: $param;
    -moz-transition: $param;
    -webkit-transition: $param;
    transition: $param;
}

@mixin transform($param...) {
    -ms-transform: $param;
    -o-transform: $param;
    -moz-transform: $param;
    -webkit-transform: $param;
    transform: $param;
}

@mixin border-radius($param) {
    -webkit-border-radius: $param;
    -moz-border-radius: $param;
    border-radius: $param;
}

@mixin box-shadow($param...) {
    -webkit-box-shadow: $param;
    -moz-box-shadow: $param;
    box-shadow: $param;
}

@mixin flex-column($param...) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 $param;
    flex: 0 0 $param;
    max-width: $param;
}

@mixin flex-display() {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

@mixin center-content() {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
}

@mixin mid-content() {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
}

@mixin animation($param...) {
    animation: $param;
    -webkit-animation: $param;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    ;
    &:-moz-placeholder {
        @content
    }
    ;
    &::-moz-placeholder {
        @content
    }
    ;
    &:-ms-input-placeholder {
        @content
    }
    ;
}

//css
body {
    font-family: $worksan;
    font-weight: normal;
    font-style: normal;
}

img {
    max-width: 100%;
}

input,
a,
button {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.no-pd {
    padding: 0;
}

p,
h3 {
    margin-bottom: 0;
}

.title,
.quote .text-quote {
    @media only screen and (max-width: 992px) {
        font-size: 30px !important;
        line-height: 36px !important;
    }
    @media only screen and (max-width: 480px) {
        font-size: 18px !important;
        line-height: 24px !important;
    }
}

.title-banner {
    @media only screen and (max-width: 992px) {
        font-size: 30px !important;
        line-height: 36px !important;
        span {
            line-height: 36px !important;
        }
    }
    @media only screen and (max-width: 480px) {
        font-size: 24px !important;
        line-height: 30px !important;
        span {
            line-height: 30px !important;
        }
    }
}

.validate-text {
    position: absolute;
    top: 0px;
    font-size: 14px;
    color: red;
    @media only screen and (max-width: 480px) {
        top: unset;
        bottom: 30px;
        width: 100%;
        @include flex-display();
        justify-content: center;
    }
    // @media only screen and (max-width: 350px) {
    //     left: 15px;
    // }
}

.validate-text small {
    width: 100%;
    line-height: 100%;
    margin-bottom: 5px;
    float: left;
    @media only screen and (max-width: 480px) {
        width: unset;
        margin-right: 20px;
    }
}
.our-lastest .block-slide-foot .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-contact-wrap{
    br{
        display: none;
        @media only screen and (max-width: 480px) {
            display: block;
        }
    }

}