footer {
    background-color: $dark-blue;
    padding-top: 100px;
    position: relative;
    z-index: 1;
    .footer {
        border-bottom: 1px solid #c4c4c44d;
        padding-bottom: 80px;
        margin: 0 -24px;
        padding-left: 24px;
        padding-right: 24px;
        .footer-left {
            h6 {
                font-size: 48px;
                font-weight: 500;
                letter-spacing: -3;
                text-transform: uppercase;
                color: #FFFFFF;
                line-height: 100%;
                margin-bottom: 56px;
            }
            .subscribe {
                position: relative;
                .form-group {
                    margin: 0;
                }
                input {
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    color: #FFFFFF;
                    font-size: 14px;
                    line-height: 120%;
                    text-transform: uppercase;
                    background-color: transparent;
                    font-weight: normal;
                    padding: 4px 50px 4px 0;
                    width: 100%;
                    border-radius: 0;
                    &::placeholder {
                        color: #FFFFFF;
                        opacity: 0.5;
                    }
                }
                .ic-arrow {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    @include transform(translateY(-50%));
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    cursor: pointer;
                }
            }
        }
        .footer-right {
            .sitemap {
                margin: 0 -12px;
            }
            .footer-link {
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        .footer-group {
                            position: relative;
                            padding-right: 40px;
                            display: inline-block;
                            margin-bottom: 26px;
                            a {
                                margin-bottom: 0;
                            }
                            img {
                                width: 16px;
                                height: 16px;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                @include transform(translateY(-50%));
                            }
                        }
                        a {
                            color: #FFFFFF;
                            font-size: 14px;
                            text-transform: uppercase;
                            line-height: 120%;
                            font-weight: normal;
                            margin-bottom: 26px;
                            display: inline-block;
                            min-width: 76px;
                        }
                    }
                }
            }
        }
    }
    .copyright {
        padding: 60px 0;
        border-top: 1px solid #c4c4c44d;
        margin: 0 -24px;
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 20px;
        p {
            font-size: 14px;
            line-height: 120%;
            text-transform: uppercase;
            color: #FFFFFF;
            font-weight: normal;
        }
    }
}