.container-fluid {
    padding-left: 24px;
    padding-right: 24px;
}
.row {
    margin-left: -12px;
    margin-right: -12px;
}
.btn-common {
    padding: 18px 32px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    border-top-left-radius: 24px;
    color: $dark-blue;
    border: 1px solid $yellow;
    background-color: $yellow;
    text-decoration: none;
    @include transition(0.2s);
    &:hover {
        background-color: transparent;
        text-decoration: none;
        color: $yellow;
    }
    &.outline {
        background-color: transparent;
        &:hover {
            background-color: $yellow;
            color: $dark-blue;
            text-decoration: none;
        }
    }
}
.GridCustom__wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .row {
        margin-right: -12px;
        margin-left: -12px;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}
.GridCustom__col-1-line {
    position: relative;
    height: 100vh;
    margin-right: 12px;
    margin-left: 12px;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;
    opacity: 0.3;
}
// .GridCustom__col-1 {
//     -ms-flex: 0 0 13%;
//     flex: 0 0 13%;
//     max-width: 13%;
//     margin-right: 12px;
//     margin-left: 12px;
// }
// .GridCustom__col-2 {
//     -ms-flex: 0 0 26%;
//     flex: 0 0 26%;
//     max-width: 26%;
//     margin-right: 12px;
//     margin-left: 12px;
// }
// .GridCustom__col-3 {
//     -ms-flex: 0 0 39%;
//     flex: 0 0 39%;
//     max-width: 39%;
//     margin-right: 12px;
//     margin-left: 12px;
// }
.content-row {
    padding-top: 100px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-top: 1px solid #c4c4c44d;
    border-bottom: 1px solid #c4c4c44d;
    padding-right: 12px;
    padding-left: 12px;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}
.GridCustom__col-1 {
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;
    margin-right: 12px;
    margin-left: 12px;
    z-index: 1;
}
.GridCustom__col-1-2 {
    -ms-flex: 0 0 30.8%;
    flex: 0 0 30.8%;
    max-width: 30.8%;
    margin-right: 12px;
    margin-left: 12px;
    z-index: 1;
}
.GridCustom__col-2 {
    -ms-flex: 0 0 27.5%;
    flex: 0 0 27.5%;
    max-width: 27.5%;
    margin-right: 12px;
    margin-left: 12px;
    z-index: 1;
}
.GridCustom__col-3 {
    -ms-flex: 0 0 41.4%;
    flex: 0 0 41.4%;
    max-width: 41.4%;
    margin-right: 12px;
    margin-left: 12px;
    z-index: 1;
}
.GridCustom__col-1,
.GridCustom__col-2 {
    position: relative;
    .link-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        &:hover {
            ~.content {
                h3,
                h6,
                span {
                    color: $yellow;
                    text-decoration: underline;
                }
                span {
                    opacity: 0.5;
                }
            }
        }
    }
    .image {
        margin-bottom: 20px;
        position: relative;
        .ic-playbutton {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            img {
                cursor: pointer;
            }
        }
    }
    .content {
        padding: 0 20px;
        h3 {
            font-size: 14px;
            font-weight: bold;
            color: $dark-blue;
            text-transform: uppercase;
            margin-bottom: 8px;
            line-height: 120%;
            @include transition(0.3s);
        }
        h6 {
            font-size: 12px;
            font-weight: 500;
            color: $dark-blue;
            @include transition(0.3s);
            span {
                color: #C4C4C4;
                display: inline-block;
                margin-right: 4px;
                @include transition(0.3s);
            }
        }
    }
}
.title-wrap {
    text-transform: uppercase;
    color: $dark-blue;
    font-weight: 500;
    padding: 100px 24px 103px 24px;
    border-top: 1px solid #c4c4c44d;
    border-bottom: 1px solid #c4c4c44d;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
    .title-content {
        position: relative;
    }
    span {
        display: inline-block;
    }
    .fs-60 {
        font-size: 60px;
        line-height: 80%;
    }
    .fs-120 {
        font-size: 120px;
        line-height: 80%;
    }
    .fs-140 {
        font-size: 140px;
        line-height: 80%;
    }
    .fs-180 {
        font-size: 180px;
        line-height: 80%;
    }
    .mw-1330 {
        max-width: 1330px;
    }
    .pf-272 {
        padding-left: 272px;
    }
    .btn-common {
        position: absolute;
        display: block;
        line-height: normal;
        bottom: 8px;
        right: 0;
    }
}
.form-content {
    padding-right: 4px;
    .form-group {
        margin-bottom: 60px;
        position: relative;
        input {
            border: none;
            border-bottom: 1px solid $dark-blue;
            border-radius: 0;
            background-color: transparent;
            padding: 8px 0;
            font-size: 14px;
            &::placeholder {
                text-transform: uppercase;
                opacity: 0.6;
            }
        }
        .btn-password {
            position: absolute;
            bottom: 8px;
            right: 0;
            cursor: pointer;
        }
        &.select {
            span {
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }
}