header {
    padding-top: 40px;
    padding-bottom: 30px;
    margin: 0 24px;
    position: relative;
    background-color: #FFFFFF;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $dark-blue;
        opacity: 0.2;
    }
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-between;
        .header-left {
            display: flex;
            align-items: center;
            .header-search {
                position: relative;
                margin-left: 87px;
                padding-left: 16px;
                border-left: 1px solid $dark-blue-20;
                min-height: 48px;
                display: flex;
                align-items: center;
                min-width: 193px;
                padding-right: 40px;
                .form-group {
                    margin-bottom: 0;
                }
                input {
                    outline: none;
                    border: none;
                    text-transform: uppercase;
                    position: relative;
                    background-color: transparent;
                    padding: 0;
                    font-weight: 500;
                    color: $dark-blue;
                    &::placeholder {
                        opacity: 0.4;
                    }
                }
                .ic-search {
                    position: absolute;
                    top: 45%;
                    right: 0;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    @include transform(translateY(-50%));
                    img {
                        height: 16px;
                    }
                }
            }
        }
        .header-right {
            display: flex;
            align-items: center;
            .navigation {
                ul {
                    padding-left: 0;
                    margin: 0;
                    list-style: none;
                    li {
                        display: inline-block;
                        margin-right: 60px;
                        a {
                            font-size: 14px;
                            color: $dark-blue;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-decoration: none;
                            @include transition(0.2s);
                            &.active {
                                color: $yellow;
                                text-decoration: underline;
                            }
                            &:hover {
                                color: $yellow;
                            }
                        }
                    }
                }
            }
        }
    }
}

.logo-only {
    header {
        background-color: transparent;
        .container-fluid {
            .header-right {
                display: none;
            }
            .header-left {
                .header-search {
                    display: none;
                }
            }
        }
        &::before {
            content: none;
        }
    }
}