doctype html
html(lang="en")
    head
        title= ""
        include partials/master/head.pug

    body
        include partials/master/header.pug
        include partials/homepage/hero-banner.pug
        include partials/homepage/homepage-content.pug

        include partials/master/footer.pug
    include partials/master/grid.pug
    include partials/master/foot.pug