doctype html
html(lang="en")
    head
        title= ""
        include partials/master/head.pug

    body
        .account-page
            .logo-only 
                include partials/master/header.pug
            .account-content.content-row
                .GridCustom__col-1 
                .GridCustom__col-2 
                    .title-wrap
                        h1.fs-60.title-content
                            span
                                |Sign up your 
                                br
                                |homeia profile
                    .form-content 
                        form(action="") 
                            .form-group 
                                input(type="text" placeholder="your full name").form-control
                            .form-group 
                                input(type="email" placeholder="email address").form-control
                            .form-group 
                                input(type="password" placeholder="password").form-control
                                a(href="javascript:void(0);").btn-password
                                    img(src="assets/images/b-eye.svg", alt="")
                            .form-group 
                                input(type="password" placeholder="repeat password").form-control
                                a(href="javascript:void(0);").btn-password
                                    img(src="assets/images/b-eye.svg", alt="")
                            .form-group.select
                                span you are a
                                select.form-select(aria-label="Default select example")
                                    option(selected) agent
                                    option(value="1") One
                .GridCustom__col-1 
                .GridCustom__col-3
            .account-image.content-row
                .GridCustom__col-3.image-inner
                    img(src="assets/images/img-account-bg.jpg", alt="")
            

        
    include partials/master/grid.pug
    include partials/master/foot.pug