.hero-banner
    .container-fluid
        .banner__title
            img(src="assets/images/HOMEiA-H1.svg", alt="")
        .banner__description 
            .banner__description-inner
                p HOMEiA is not just a website. It’s a growing online platform that enables real estate professionals to establish a strong web presence highlighting their experience, knowledge and achievements. By making it onto our list of certified real estate professionals, you have moved another level up from your peers — and earned HOMEiA’s support.
                a(href="#") 
                    | get to know us
                    img(src="assets/images/arrow-right.svg", alt="").ic-arrow-right
        .call-to-action
            img(src="assets/images/arrow-right.svg", alt="").ic-arrow-right
            h6 Read our articles         