.container-fluid 
    .subtab
        ul.row
            li.GridCustom__col-1
                a(href="#").active city living guide
                    sup 34
            li.GridCustom__col-1
                a(href="#") sell home
                    sup 48
            li.GridCustom__col-1
                a(href="#") buy home
                    sup 35
            li.GridCustom__col-1
                a(href="#") home improvement
                    sup 52
            li.GridCustom__col-1
                a(href="#") home maintenance
                    sup 28
            li.GridCustom__col-1
                a(href="#") investing
                    sup 18
            li.GridCustom__col-1
                a(href="#") 


.content-row
    .GridCustom__col-1
        a(href="#").link-overlay
        .image
            img(src="assets/images/img-1.jpg", alt="" 
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500")
        .content 
            h3 The 10 Most Affordable Places to Live in Arizona
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .image
            img(src="assets/images/img-2.jpg", alt=""
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="300")
        .content 
            h3 10 Best Places to Live in Montana
            h6 
                span by 
                | Darrell Steward
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 30 Best Packing Tips for Moving to a New City
            h6 
                span by 
                | Jane Cooper
    .GridCustom__col-2
        a(href="#").link-overlay
        .image(data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="500")
            img(src="assets/images/video-1.jpg", alt="")
            .ic-playbutton
                img(src="assets/images/play-button.svg", alt="")
        .content 
            h3 The Ultimate Guide to Living in Wyoming
            h6 
                span by 
                | Esther Howard
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 10 Best Places to Live in South Carolina
            h6 
                span by 
                | Dianne Russell
    .GridCustom__col-1
        a(href="#").link-overlay
        .image
            img(src="assets/images/img-3.jpg", alt=""
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="700")
        .content 
            h3 10 Best Places to Live in Wyoming in 2022
            h6 
                span by 
                | Floyd Miles


.content-row
    .GridCustom__col-1
        a(href="#").link-overlay
        .image
            img(src="assets/images/img-4.jpg", alt=""
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500")
        .content 
            h3 7 Best Small Towns to Enjoy Living in Texas
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 15 Best Places in the U.S. to Raise a Family in 2022
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 7 Key Factors You Should Know When Living in Milwaukee, Wisconsin
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .image
            img(src="assets/images/img-5.jpg", alt=""
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="300")
        .content 
            h3 The 10 Most Affordable Places to Live in Arizona
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 10 Most Affordable Places to Live in Michigan
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 Is Moving to Georgia Right for You? 2022 Ultimate Guide
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .image(data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="500")
            img(src="assets/images/video-2.jpg", alt="")
            .ic-playbutton
                img(src="assets/images/play-button.svg", alt="")
        .content 
            h3 7 Must-Know Things About Living in Denver, Colorado
            h6 
                span by 
                | Esther Howard


.content-row
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 10 Most Affordable Places to Live in Michigan
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-2
        a(href="#").link-overlay
        .image(data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500")
            img(src="assets/images/video-3.jpg", alt="")
            .ic-playbutton
                img(src="assets/images/play-button.svg", alt="")
        .content 
            h3 The Ultimate Guide to Living in Wyoming
            h6 
                span by 
                | Esther Howard
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 10 Most Affordable Places to Live in Michigan
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 10 Most Affordable Places to Live in Michigan
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .image
            img(src="assets/images/img-6.jpg", alt=""
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="300")
        .content 
            h3 The 10 Most Affordable Places to Live in Arizona
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 10 Most Affordable Places to Live in Michigan
            h6 
                span by 
                | Brooklyn Simmons


.title-wrap
    h2.fs-120.title-content
        span.mw-1330 Turn prospects into clients more efficiently 
        span.pf-272
            |with your 
            br
            |homeia profile
        a(href="#").btn-common join publishing
        


.content-row
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 10 Most Affordable Places to Live in Michigan
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .image
            img(src="assets/images/img-7.jpg", alt=""
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500")
        .content 
            h3 The 10 Most Affordable Places to Live in Arizona
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .image
            img(src="assets/images/img-8.jpg", alt=""
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="300")
        .content 
            h3 The 10 Most Affordable Places to Live in Arizona
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 10 Most Affordable Places to Live in Michigan
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .image(data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="500")
            img(src="assets/images/video-4.jpg", alt="")
            .ic-playbutton
                img(src="assets/images/play-button.svg", alt="")
        .content 
            h3 The Ultimate Guide to Living in Wyoming
            h6 
                span by 
                | Esther Howard
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 10 Most Affordable Places to Live in Michigan
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .image
            img(src="assets/images/img-9.jpg", alt=""
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="700")
        .content 
            h3 The 10 Most Affordable Places to Live in Arizona
            h6 
                span by 
                | Brooklyn Simmons

.content-row
    .GridCustom__col-1
        a(href="#").link-overlay
        .image
            img(src="assets/images/img-10.jpg", alt=""
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500")
        .content 
            h3 The 10 Most Affordable Places to Live in Arizona
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 10 Most Affordable Places to Live in Michigan
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-1
        a(href="#").link-overlay
        .image(data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="300")
            img(src="assets/images/video-5.jpg", alt="")
            .ic-playbutton
                img(src="assets/images/play-button.svg", alt="")
        .content 
            h3 The Ultimate Guide to Living in Wyoming
            h6 
                span by 
                | Esther Howard
    .GridCustom__col-1
        a(href="#").link-overlay
        .content 
            h3 10 Most Affordable Places to Live in Michigan
            h6 
                span by 
                | Brooklyn Simmons
    .GridCustom__col-2
        a(href="#").link-overlay
        .image(data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="500")
            img(src="assets/images/video-6.jpg", alt="")
            .ic-playbutton
                img(src="assets/images/play-button.svg", alt="")
        .content 
            h3 The Ultimate Guide to Living in Wyoming
            h6 
                span by 
                | Esther Howard
    .GridCustom__col-1
        a(href="#").link-overlay
        .image
            img(src="assets/images/img-11.jpg", alt=""
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="linear"
            data-aos-duration="500"
            data-aos-delay="700")
        .content 
            h3 The 10 Most Affordable Places to Live in Arizona
            h6 
                span by 
                | Brooklyn Simmons

.title-wrap
    h2.title-content.fs-120 
        span.mw-1330 COntribute your article to 
        span.pf-272
            |homeia’s 
            br
            |community
        a(href="#").btn-common join publishing